<app-navbar></app-navbar>
<div class="banner header-top">
    <h1>Eventos</h1>
</div>
<div class="contenedor pad-top">
    <div class="col-12 pad-right flex-c grid-service">
        <div class="card-project shadow-box-2">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div>
                <h4>MEJORAR PAGINA CLUB DE MECATRONICA</h4>
                <p><span>tipo</span> 29 / Noviembre / 2020</p>
            </div>
            <div>
                <p>La pagina de TAWS es un medio para darnos a conocer de mejor manera,
                por lo que es importante en mejorar constantemente la pagina y asi mismo aumentar
                las secciones con los proyectos en los que se trabajan, logros obtenidos, etc.
            </div>
        </div>

        
        
    </div>
    
</div>