
    <div class="navdbuser">
        <div class="logomenu">
            <img id="logomenu" src="./assets/img/logo.png" alt="logo">
        </div>
        <hr width="240px">
        <div class="info-user">
            <img id="img-user" src="../assets/img/iconos/usuario.png" alt="user">
            <h4 id="name-user">Name User</h4> 
            <h6 id="estado-user">Estado</h6>
            <p id="logout-btn">Cerrar Sesion</p>
        </div>

        <div class="nav-options">
            <ul>
                <li><img id="icon" src="../assets/img/iconos/usuario.png" alt="menu"><a href="/menu">Home</a></li>
                <li><img id="icon" src="../assets/img/iconos/usuario.png" alt="proyectos"><a href="/Proyectos">Proyectos</a></li>
                <li><img id="icon" src="../assets/img/iconos/usuario.png" alt="premios"><a href="/Premios">Premios</a></li>
                <li><img id="icon" src="../assets/img/iconos/usuario.png" alt="materiales"><a href="/Materiales">Materiales</a></li>

            </ul>

        </div>

    </div>

