
    <div class="navdbuser">
        <div class="logomenu">
            <img id="logomenu" src="./assets/img/logo.png" alt="logo">
        </div>
        <hr width="240px">
        <!--div class="info-user">
            <img id="img-user" src="../assets/img/iconos/usuario.png" alt="user">
            <h4 id="name-user">Name User</h4> 
            <h6 id="estado-user">Estado</h6>
            <p id="logout-btn">Cerrar Sesion</p>
        </div-->

        <div class="nav-options">
            <ul>
                <li type="button"><img id="icon" src="../assets/img/iconos/usuario.png" alt="menu"><a href="/#/dashboard/dashboard-home">Home</a></li>
                <li type="button"><img id="icon" src="../assets/img/iconos/usuario.png" alt="proyectos"><a href="/#/dashboard/dashboard-proyectos">Proyectos</a></li>
                <li type="button"><img id="icon" src="../assets/img/iconos/usuario.png" alt="premios"><a href="/#/dashboard/dashboard-premios">Premios</a></li>
                <li type="button"><img id="icon" src="../assets/img/iconos/usuario.png" alt="materiales"><a href="/#/dashboard/dashboard-materiales">Materiales</a></li>
                
            </ul>

        </div>

    </div>
