<div class="contenedor">
    <div class = "container_homenews">
    <div class="principalnew">
        <img class="img-principal" src="https://picsum.photos/200/300?random=1">
        <div class="tag-description secondnew">
            <h1>Descripcion principal</h1>
        </div>

    </div>
    <div class="columnewone">
        <a href="cursos-talleres">
        <div type="button" class="opcionnew">
            <img class="img-second" src="https://picsum.photos/200/300?random=2">
            <h1 class="tag-description-btn">Cursos y Talleres</h1>
        </div></a>
        <a href="reclutamiento">
        <div type="button" class="opcionnewbtn">
            <img class="img-second" src="./assets/img/btnsuscripcion.png">
            <h1 class="tag-description-btn">Quieres Unirte?</h1>
        </div></a>
    </div>
    <div class="columnewtwo">
        <a href="visitas">
        <div type="button" class="opcionnew" >
            <img  class="img-second" src="https://picsum.photos/200/300?random=3">
            <h1 class="tag-description-btn">Visitas Tecnicas</h1>
        </div></a>
        <a href="prototipado">
        <div type="button" class="opcionnew">
            <img  class="img-second" src="https://picsum.photos/200/300?random=4">
            <h1 class="tag-description-btn">Prototipado</h1>
        </div></a>
    </div>
</div>
</div>
