<div class="nosotros-container">
    <div class="title-description-nosotros">
        <h1>El Club</h1>
        <h6>¿Por qué es Genial el Club de Mecatrónica</h6>
    </div>
    <div class="container-notes">
        <div class="container-notes-firts">
            <div class="paragraf-description">
                <p>
                    El Club de Mecatrónica es un espacio
                    ideal encontrar personas que comparten
                    tu espíritu creativo y emprendedor,
                    y establecer relaciones que te permitan
                    desarrollar tus proyectos personales,
                    profesionales y académicos.<br>
                    <a>LEER MAS</a>
                </p>
            </div>
            <div class="img-container">
                <img  class="img-container" src="./assets/img/club1.png">
            </div>
        </div>


        <div class="container-notes-firts">
            <div class="img-container">
                <img  class="img-container" src="./assets/img/club2.png">
            </div>
            <div class="paragraf-description background-paragraf-1">
                <p>
                    Como integrante del club, tienes la 
                    facultad de participar en competencias
                    nacionales e internacionales, foros,
                    seminarios, cursos, talleres, ponencias
                    entre otras y obetener certificaciones
                    que contribuyan a enriquecer tu 
                    portafolio de trabajo personal.<br>
                    <a>LEER MAS</a>
                </p>
            </div>
            
        </div>

        <div class="container-notes-firts">
            <div class="paragraf-description background-paragraf-2">
                <p>
                    Diseñar, construir y ayudar a las personas
                    a encontrar soluciones en un mundo 
                    donde la competitividad profesional se 
                    demuestra con hechos y el talento se explota<br>
                    <a>LEER MAS</a>
                </p>
            </div>
            <div class="img-container">
                <img  class="img-container" src="./assets/img/club3.png">
            </div>
        </div>
    </div>

</div>