<div class="contenedor">
    <img class="overflow"id="fondo" src = "./assets/img/separador.png">
    
    <div class = "description-title">
        <h6>SOMOS UN GRAN EQUIPO DE PERSONAS APASIONADAS POR LA TECNOLOGÍA </h6>
        <h1>Conoce a nuestros <span class="color-pblue">Integrantes</span>
        </h1>
        <hr>
    </div>

    <div class="contenedor-intengrantes">
        <div class="c-left-integrantes">
            <div class="card-id-t1 card-f-g">
                <div class="card-img">
                    <img src="../assets/img/bguser.jpg">
                </div>
                <div class="card-zone-star">
                    <h5>Destacado del mes</h5>
                    <div class="card-c-stars">
                        <img src="../assets/img/estrella.png">
                        <img src="../assets/img/estrella.png">
                        <img src="../assets/img/estrella.png">
                        <img src="../assets/img/estrella.png">
                        <img src="../assets/img/estrella.png">
                    </div>
                </div>
                <div class="card-description">
                    <h3>Nombre del Integrante</h3>
                    <h6>Rol del integrante</h6>
                    <hr style="height: 3px;">
                    <ul>
                        <li>Resumen perfil 1</li>
                        <li>Resumen perfil 2</li>
                        <li>Resumen perfil 3</li>
                    </ul>
                    <div class="btn-vermas">
                        <p>Consultar CV</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-rigth-integrantes">
            <div class="c-row-i">
                <div class="card-id-t2 card-f-g">
                    <div class="card-img">
                        <img src="../assets/img/bguser.jpg">
                    </div>
                    <div class="card-zone-star">
                        <h5>Destacado del mes</h5>
                        <div class="card-c-stars">
                            <img src="../assets/img/estrella.png">
                        </div>
                    </div>
                    <div class="card-description">
                        <h3>Nombre del Intrgrante</h3>
                        <h6>Rol del integrante</h6>
                        <hr style="height: 3px;">
                        <div class="btn-vermas">
                            <p>Consultar CV</p>
                        </div>
                    </div>
                </div>
    
                <div class="card-id-t2 card-f-g">
                    <div class="card-img">
                        <img src="../assets/img/bguser.jpg">
                    </div>
                    <div class="card-zone-star">
                        <h5>Destacado del mes</h5>
                        <div class="card-c-stars">
                            <img src="../assets/img/estrella.png">
                        </div>
                    </div>
                    <div class="card-description">
                        <h3>Nombre del Intrgrante</h3>
                        <h6>Rol del integrante</h6>
                        <hr style="height: 3px;">
                        <div class="btn-vermas">
                            <p>Consultar CV</p>
                        </div>
                    </div>
                </div>
    
                <div class="card-id-t2 card-f-g">
                    <div class="card-img">
                        <img src="../assets/img/bguser.jpg">
                    </div>
                    <div class="card-zone-star">
                        <h5>Destacado del mes</h5>
                        <div class="card-c-stars">
                            <img src="../assets/img/estrella.png">
                        </div>
                    </div>
                    <div class="card-description">
                        <h3>Nombre del Intrgrante</h3>
                        <h6>Rol del integrante</h6>
                        <hr style="height: 3px;">
                        <div class="btn-vermas">
                            <p>Consultar CV</p>
                        </div>
                    </div>
                </div>
    
                <div class="card-id-t2 card-f-g">
                    <div class="card-img">
                        <img src="../assets/img/bguser.jpg">
                    </div>
                    <div class="card-zone-star">
                        <h5>Destacado del mes</h5>
                        <div class="card-c-stars">
                            <img src="../assets/img/estrella.png">
                        </div>
                    </div>
                    <div class="card-description">
                        <h3>Nombre del Intrgrante</h3>
                        <h6>Rol del integrante</h6>
                        <hr style="height: 3px;">
                        <div class="btn-vermas">
                            <p>Consultar CV</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-row-i c-row-block ">
                <p class="card-f-g" style="padding: 30px 15px 30px 15px;">Conoce a nuestros integrantes 
                    <span>Destacados</span> del mes quienes han trabajado en proyectos
                    de impacto y además consulta el perfil de todos quienes formamos el <span>Club de Mecatrónica</span>
                </p>
                <div>
                    <a class="btn btn-primary" style="color: white;">Conocer a todos!</a>
                </div>
                
            </div>
            
        </div>
    </div>
</div>