.contenedor{
    position: relative;
    margin:0;
}
.contenedor img{
    width: auto;
    justify-content: center;
    position: relative;
    
}
#fondo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    
}
.description-title{
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    margin-top: 50px;
 }
 .description-title {
     text-align: center;
 }
 .description-title h6{
     color: rgba(12,90,219);
 }
 .description-title h1{
     font-size: 24pt;
     text-justify: auto;
     font-weight: 900;
 }
 hr {
    background-color: rgba(174,198,239);
    height: 10px;
    width: 20%;
    border-radius: 10px;
    }
    .color-pblue{
        color: rgba(12,90,219);
    }


/*Card contenerdor general format*/
.contenedor-intengrantes{
    height: 500px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.c-left-integrantes{
    position: relative;
    width: 30%;
    margin-right: 5%;
}
.c-rigth-integrantes{
    position: relative;
    width: 70%;
    float: left ;
    justify-content: space-around;
}
.c-row-i{
    display: flex;
    justify-content: space-around;
}
.c-row-block{
    display: block;
    padding: 50px 20px 30px 20px;
}
.c-row-block div{
    width: 100%;
    text-align: right;
}

.card-f-g{
    -webkit-box-shadow: 4px 3px 4px -1px rgba(204,204,204,0.64);
    -moz-box-shadow: 4px 3px 4px -1px rgba(204,204,204,0.64);
    box-shadow: 4px 3px 4px -1px rgba(204,204,204,0.64);   
}
.card-f-g span{
    color: rgb(0, 84, 219);
    font-weight: 900;
}
.card-zone-star{
    padding-left: 20px;
    position: absolute;
    top:35%;
    height: 30px;
    vertical-align: middle;
    display: flex;
    width: 100%;
}
.card-zone-star h5{
    color: white;

}
.card-c-stars{
    list-style: none;
    padding-left: 10px;
    display: flex;
    width: 20px;
}
.card-c-stars img {
    width: auto;
    height: 15px;
}


.card-description{
    padding-top: 10px;
    padding-left: 20px;
}
.card-description hr{
    width: 80% !important
}

.btn-vermas{
    justify-content: center;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: center;
}
.btn-vermas p{
    width: auto;
    height: auto;
    background-color: rgb(45, 126, 255); 
    color: white;
    border-radius: 10px;
}
.btn-vermas p:hover{
    background-color: rgb(0, 84, 219); 
    cursor: pointer;
}


/*Card type 1 format*/

.card-id-t1{
    width: 100%;
    height: 460px;
}
.card-id-t1 img{
    width: 100%;
    height: 35%;
}

/*Card type 2 format*/

.card-id-t2{
    position: relative;
    width: 25%;
    height: 50%;
    margin-right: 10px;
    font-size: 9pt;
} .card-id-t2 h5{
    font-size: 0.9em;
} .card-id-t2 h3{
    font-size: 1em;
} .card-id-t2 h6{
    font-size: 0.9em;
    font-weight: bold;
}

.card-id-t2 img{
    width: 100%;
}