<div class="contenedor">
    <img class="overflow"id="fondo" src = "./assets/img/separador.png">
    
    <div class = "description-title">
        <h6>SOMOS UN GRAN EQUIPO DE PERSONAS APASIONADAS POR LA TECNOLOGÍA </h6>
        <h1>Conoce a nuestros <span class="color-pblue">Integrantes</span>
        </h1>
        <hr>
    </div>

    <div class="contenedor-intengrantes">
        <div class="c-left-integrantes">
            <div class="card-id-t1 card-f-g">
                <img class="card-img" src="../assets/img/bguser.jpg">
                <div class="card-zone-star">
                    <h5>Destacado del mes</h5>
                    <div id="card-c-stars">
                        <img src="">
                    </div>
                </div>
                <div class="card-description">
                    <h3>Nombre del Intrgrante</h3>
                    <h6>Rol del integrante</h6>
                    <hr style="height: 3px;">
                    <ul>
                        <li>Resumen perfil 1</li>
                        <li>Resumen perfil 2</li>
                        <li>Resumen perfil 3</li>
                    </ul>
                    <div class="btn-vermas">
                        <p>Hoja de Vida</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-rigth-integrantes">
            <div class="card-id-t2 card-f-g">
                <img class="card-img" src="../assets/img/bguser.jpg">
                <div class="card-zone-star">
                    <h5>Destacado del mes</h5>
                    <div id="card-c-stars">
                        <img src="">
                    </div>
                </div>
                <div class="card-description">
                    <h3>Nombre del Intrgrante</h3>
                    <h6>Rol del integrante</h6>
                    <hr style="height: 3px;">
                    <div class="btn-vermas">
                        <p>Hoja de Vida</p>
                    </div>
                </div>
            </div>
            <div class="card-id-t2 card-f-g">
                <img class="card-img" src="../assets/img/bguser.jpg">
                <div class="card-zone-star">
                    <h5>Destacado del mes</h5>
                    <div id="card-c-stars">
                        <img src="">
                    </div>
                </div>
                <div class="card-description">
                    <h3>Nombre del Intrgrante</h3>
                    <h6>Rol del integrante</h6>
                    <hr style="height: 3px;">
                    <div class="btn-vermas">
                        <p>Hoja de Vida</p>
                    </div>
                </div>
            </div>
            <div class="card-id-t2 card-f-g">
                <img class="card-img" src="../assets/img/bguser.jpg">
                <div class="card-zone-star">
                    <h5>Destacado del mes</h5>
                    <div id="card-c-stars">
                        <img src="">
                    </div>
                </div>
                <div class="card-description">
                    <h3>Nombre del Intrgrante</h3>
                    <h6>Rol del integrante</h6>
                    <hr style="height: 3px;">
                    <div class="btn-vermas">
                        <p>Hoja de Vida</p>
                    </div>
                </div>
            </div>
            <div class="card-id-t2 card-f-g">
                <img class="card-img" src="../assets/img/bguser.jpg">
                <div class="card-zone-star">
                    <h5>Destacado del mes</h5>
                    <div id="card-c-stars">
                        <img src="">
                    </div>
                </div>
                <div class="card-description">
                    <h3>Nombre del Intrgrante</h3>
                    <h6>Rol del integrante</h6>
                    <hr style="height: 3px;">
                    <div class="btn-vermas">
                        <p>Hoja de Vida</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>