<div class="report-options">

    <div class="shadow-box card-mpoints">
        <div class="title-section-mpoints">
            <img id="icon-points"src="../assets/img/iconos/herradura.png" alt="icono puntaje">
            <h5>Mecatronic Points</h5>
        </div>
        <h1>9999</h1>
        <hr style="width: 95%; border-color: rgb(0,175,239); margin-left:10px;">
        <p>Acumulados</p>
    </div>

    <div class="shadow-box card-muser ">
        <div class="user-login">
            <img id="img-user" src="../assets/img/iconos/usuario.png" alt="user">
            <p id="name-user">Hola, bienvenido Usuario</p> 
        </div>
        <h6 id="estado-user">Estado</h6>
    </div>
</div>

<div class="shadow-box card-mpremios ">
    <div class="title-awards">
        <h4>Beneficios disponibles para canjear</h4> 
        <hr style="border-color: rgb(197, 197, 197);">
    </div>

    <div class="grid">
        
        <div type="button" class="shadow-box card-maward">
            <div class="title-section-maward">
                <img id="icon-award"src="../assets/img/iconos/herradura.png" alt="icono premio">
                <h4>{{camiseta}}</h4>
            </div>
            <hr style="width: 95%; border-color: rgb(0,175,239);">
            <p>9999 MP</p>
        </div>

        <div type="button" class="shadow-box card-maward">
            <div class="title-section-maward">
                <img id="icon-award"src="../assets/img/iconos/herradura.png" alt="icono premio">
                <h4>Camiseta</h4>
            </div>
            <hr style="width: 95%; border-color: rgb(0,175,239);">
            <p>9999 MP</p>
        </div>

        <div type="button" class="shadow-box card-maward">
            <div class="title-section-maward">
                <img id="icon-award"src="../assets/img/iconos/herradura.png" alt="icono premio">
                <h4>Camiseta</h4>
            </div>
            <hr style="width: 95%; border-color: rgb(0,175,239);">
            <p>9999 MP</p>
        </div>

        <div type="button" class="shadow-box card-maward">
            <div class="title-section-maward">
                <img id="icon-award"src="../assets/img/iconos/herradura.png" alt="icono premio">
                <h4>Camiseta</h4>
            </div>
            <hr style="width: 95%; border-color: rgb(0,175,239);">
            <p>9999 MP</p>
        </div>

        <div type="button" class="shadow-box card-maward">
            <div class="title-section-maward">
                <img id="icon-award"src="../assets/img/iconos/herradura.png" alt="icono premio">
                <h4>Camiseta</h4>
            </div>
            <hr style="width: 95%; border-color: rgb(0,175,239);">
            <p>9999 MP</p>
        </div>

        <div type="button" class="shadow-box card-maward">
            <div class="title-section-maward">
                <img id="icon-award"src="../assets/img/iconos/herradura.png" alt="icono premio">
                <h4>Camiseta</h4>
            </div>
            <hr style="width: 95%; border-color: rgb(0,175,239);">
            <p>9999 MP</p>
        </div>

        <div type="button" class="shadow-box card-maward">
            <div class="title-section-maward">
                <img id="icon-award"src="../assets/img/iconos/herradura.png" alt="icono premio">
                <h4>Camiseta</h4>
            </div>
            <hr style="width: 95%; border-color: rgb(0,175,239);">
            <p>9999 MP</p>
        </div>
        
    </div>
    
</div>