<app-navbar></app-navbar>
<div class="banner header-top">
    <h1>Integrantes</h1>
</div>
<div class="contenedor pad-top">
    <div class="title bg-title">
        <h3>DIRECTIVA</h3>
    </div>

    <div class="container col-12 flex-c grid-service">
        
        <div class="card-member">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div class="mask"><p>Mentor</p></div>
            <div class="flex-p">
                <div class="card-descriptor">
                    <h1>MSC. EFRAIN TERÁN</h1>
                    <p>Mentor</p>
                </div>
            </div>
        </div>
        
        <div class="card-member">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div class="mask"><p>Presidente</p></div>
            <div class="flex-p">
                <div class="card-descriptor">
                    <h1>NEYTHAN LEÓN</h1>
                    <p>Presidente</p>
                </div>
            </div>
        </div>

        
        <div class="card-member">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div class="mask"><p>Vicepresidenta Administrativa</p></div>
            <div class="flex-p">
                <div class="card-descriptor">
                    <h1>DIANA ONCE</h1>
                    <p>Vicepresidenta Administrativa</p>
                </div>
            </div>
        </div>

        
        <div class="card-member">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div class="mask"><p>Vicepresidenta Académica</p></div>
            <div class="flex-p">
                <div class="card-descriptor">
                    <h1>ANGIE LEÓN</h1>
                    <p>Vicepresidenta Académica</p>
                </div>
            </div>
        </div>

        
        

        <div class="card-member">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div class="mask"><p>Coordinador</p></div>
            <div class="flex-p">
                <div class="card-descriptor">
                    <h1>LEX BRUNET</h1>
                    <p>Coordinador Comunicaciones</p>
                </div>
            </div>
        </div>

        <div class="card-member">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div class="mask"><p>Coordinador</p></div>
            <div class="flex-p">
                <div class="card-descriptor">
                    <h1>CARLOS RAMIREZ</h1>
                    <p>Coordinador de Proyectos</p>
                </div>
            </div>
        </div>
        
        <div class="card-member">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div class="mask"><p>Coordinador</p></div>
            <div class="flex-p">
                <div class="card-descriptor">
                    <h1>ANDRÉS PAREDES</h1>
                    <p>Coordinador de Proyectos</p>
                </div>
            </div>
        </div>

        <div class="card-member">
            <div class="cs-img-container">
                <img id="imgser-banner-01" class="imgser-format" src="./assets/img/banner.jpg" >
            </div>
            <div class="mask"><p>Coordinador</p></div>
            <div class="flex-p">
                <div class="card-descriptor">
                    <h1>JONSTON BENJUMEA</h1>
                    <p>Coordinador de Proyectos</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="contenedor">
    <div class="title bg-title">
        <h3>INTEGRANTES ACTIVOS</h3>
    </div>
    <div class="col-12 flex-c grid-service-2">
        <div class="card-integrante">
            <p>Nombres Apellidos</p>
        </div>
        <div class="card-integrante">
            <p>Nombres Apellidos</p>
        </div>
        <div class="card-integrante">
            <p>Nombres Apellidos</p>
        </div>
        <div class="card-integrante">
            <p>Nombres Apellidos</p>
        </div>
    </div>
</div>

<div class="contenedor">
    <div class="title bg-title">
        <h3>INTEGRANTES SENIOR</h3>
    </div>
</div>