<div class="contenedor">
    <div class = "container_homenews">
    <div class="principalnew">
        <img class="img-principal" src="https://picsum.photos/200/300?random=2">
        <div class="tag-description-btn secondnew">
            <h1>Descripcion principal</h1>
        </div>

    </div>
    <div class="columnewone">
        <div class="opcionnew">
            <img class="img-second" src="https://picsum.photos/200/300?random=2">
            <h1 class="tag-description-btn">Cursos</h1>
        </div>
        <div class="opcionnewbtn">
            <img class="img-second" src="./assets/img/btnsuscripcion.png">
            <h1 class="tag-description-btn">Quieres Unirte?</h1>
        </div>
    </div>
    <div class="columnewtwo">
        <div class="opcionnew">
            <img  class="img-second" src="https://picsum.photos/200/300?random=2">
            <h1 class="tag-description-btn">Cursos</h1>
        </div>
        <div class="opcionnew">
            <img  class="img-second" src="https://picsum.photos/200/300?random=2">
            <h1 class="tag-description-btn">Cursos</h1>
        </div>
    </div>
</div>
</div>
