.body{
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}
.shadow-box{
    -webkit-box-shadow: 4px 3px 4px -1px rgba(204,204,204,0.64);
    -moz-box-shadow: 4px 3px 4px -1px rgba(204,204,204,0.64);
    box-shadow: 4px 3px 4px -1px rgba(204,204,204,0.64);   
}
.shadow-box-2{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.banner{
    padding-right: 200px;
    padding-left: 200px;
    justify-content: left;
    text-align: left;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.header-top{
    margin-top: 100px;
}