<div class=contenedor>
    <img id="img-footer" src="../assets/img/footer.png">
    
    <div class="footer-content">
        <div class="column-1 colum-g">
            <img class="img-president" src="../assets/img/presidente.png">
        </div>
        <div class="column-2 colum-g">
            <div class="datos-presidente">
                <h4>NEYTHAN LEÓN VÁSQUEZ</h4>
                <h2>PRESIDENTE</h2>
                <h5>2020 - 2021</h5>
            </div>
            <div class="mensaje-presidente">
                <p>Somos personas capaces de crear
                    valor desde ahora, tenemos el talento 
                    para lograrlo, solo necesitamos creer 
                    en nosotros mismos
                </p>
            </div>
        </div>
        <div class="column-3 colum-g">
            <h3>MÁS INFORMACIÓN</h3>
            <ul>
                <li>
                    <img src="../assets/img/iemail.png" style="width: auto; height: 30px !important; margin-right: 5px;">
                    <p>clubmecatronica@espol.edu.ec</p>
                </li>
                <li>
                    <img src="../assets/img/iface.png" style="width: auto; height: 30px !important; margin-right: 5px;">
                    <p>/clubdemecatronica</p>
                </li>
                <li>
                    <img src="../assets/img/iinsta.png" style="width: auto; height: 30px !important; margin-right: 5px;">
                    <p>/clubdemecatronica</p>
                </li>
                <li>
                    <img src="../assets/img/iwhatsapp.png" style="width: auto; height: 30px !important; margin-right: 5px;">
                    <p>cel: 0961238096 - 0959528679</p>
                </li>
            </ul>
        </div>
        <div class="column-4 colum-g">
            <img src="../assets/img/logoespol.png">
        </div>
    </div>

    <div class="creditos-banner">
        <p>Este sitio ha sido creado por el Equipo de Desarrollado Digital del Club</p>
    </div>
    
</div>